Original_full_Clone_Judgement.xlsx
Original_full_Judgement_updated.xlsx
Original_full_Statistics.xlsx
Original_full.xlsx
Statistics_template.xlsx
Original_full_Judgement_updated_Clone_Definition&Selection.xlsx
python-3.13.1-amd64.exe
Example/24M61_24A40S1_ColonyNGS_Clone_Judgement.xlsx
Example/24M61_24A40S1_ColonyNGS_Judgement_updated_Clone_Definition&Selection.xlsx
Example/24M61_24A40S1_ColonyNGS_Judgement_updated.xlsx
Example/24M61_24A40S1_ColonyNGS_Statistics.xlsx
Example/24M61_24A40S1_ColonyNGS.xlsx
Example/24M61_Statistics_template.xlsx
版本存档/ColonyNGS_Summary_automation_V1.0_20250110.zip
24M61_24A40S1_ColonyNGS_24M60_PlmdNGSanalysis.result.zip
Example/24M61_24A40S1_ColonyNGS_Clone_Judgement_updated.xlsx
Example/24M61_24A40S1_ColonyNGS_Clone_Selection.xlsx
Example/24M61_24A40S1_ColonyNGS_Summary.xlsx
必要程序/Git-2.47.1-64-bit.exe
必要程序/VSCodeSetup-x64-1.96.2.exe
版本存档/ColonyNGS_Summary_automation_V1.1_20250110.zip
Example/24M65_24A43S1_ColonyNGS_24M63_PlmdNGS_Corrected_2.Summary.coverage.xlsx
Example/24M65_24A43S1_ColonyNGS_24M63_PlmdNGS_Corrected_2.Summary.coverage.xlsx
